
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/EGHLayout.cshtml";
}
<div class="row main">
    <h1>

        Экспертная система реабилитации геологической среды,
        загрязненной нефтепродуктами
    </h1>
</div>
    <div class="row">
        <div class="col-xs-12 col-md-9 main">





            <div class="aaaa">
                <h2>В состав системы входят модули:</h2>




                <div class="box">
                    <div class="boxdata">
                        <div class="row"><div class="col-xs-5"><h2>Прогнозирование</h2></div><div class="col-xs-7">Прогнозирование последствий загрязнения нефтепродуктами  земельных участков в результате инцидента, связанного с разливом нефти или нефтепродуктов.</div></div>
                        <div class="row"><div class="col-xs-5"><h2>Оценка прогнозируемого состояния</h2></div><div class="col-xs-7">Сравнение прогнозируемых значений показателей загрязнения геологической среды с нормативными значениями.</div></div>
                        <div class="row"><div class="col-xs-5"><h2>Классификация прогнозируемого состояния </h2></div><div class="col-xs-7">Классификация состояния геологической среды на основе оценки результатов прогнозирования.</div></div>
                        <div class="row"><div class="col-xs-5"><h2>Выбор технологий реабилитации </h2></div><div class="col-xs-7">Выбор технологий и технических средств реабилитации геологической среды на основе результатов оценки и классификации ее прогнозируемого состояния.</div></div>
                        <div class="row"><div class="col-xs-5"><h2>Химический состав  нефтей</h2></div><div class="col-xs-7">Справочная система по химическому составу нефти и нефтепродуктов.</div></div>
                        <div class="row"><div class="col-xs-5"><h2>Техногенные объекты </h2></div><div class="col-xs-7">Модуль учета техногенных объектов, деятельность которых связана с использованием нефтепродуктов.</div></div>
                        <div class="row">
                            <div class="col-xs-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="underline">
                Для выбора модуля необходимо перейти в Главное меню (правый верхний угол экрана)
            </h2>
        </div>




        <div class="col-xs-12 col-md-3">
            <button id="newNote" class="btn w100">+ Заметка</button>
            <div id="notes"></div>
            <div class="modal fade" id="delNoteModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Подтверждение</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Действительно удалить?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="commitDelNote">Да</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="leaveNoteModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Подтверждение</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Сохранить изменения?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="commitLeaveNote">Да</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="kalendar box padding">
                <table id="calendar3">
                    <thead>
                        <tr>
                            <td colspan="4">
                                <select>
                                    <option value="0">Январь</option>
                                    <option value="1">Февраль</option>
                                    <option value="2">Март</option>
                                    <option value="3">Апрель</option>
                                    <option value="4">Май</option>
                                    <option value="5">Июнь</option>
                                    <option value="6">Июль</option>
                                    <option value="7">Август</option>
                                    <option value="8">Сентябрь</option>
                                    <option value="9">Октябрь</option>
                                    <option value="10">Ноябрь</option>
                                    <option value="11">Декабрь</option>
                                </select>
                            <td colspan="3"><input type="number" value="" min="0" max="9999" size="4">
                        <tr><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
                    <tbody>
                </table>
            </div>


            <script>
                function Calendar3(id, year, month) {
                    var Dlast = new Date(year, month + 1, 0).getDate(),
                        D = new Date(year, month, Dlast),
                        DNlast = D.getDay(),
                        DNfirst = new Date(D.getFullYear(), D.getMonth(), 1).getDay(),
                        calendar = '<tr>',
                        m = document.querySelector('#' + id + ' option[value="' + D.getMonth() + '"]'),
                        g = document.querySelector('#' + id + ' input');
                    if (DNfirst != 0) {
                        for (var i = 1; i < DNfirst; i++) calendar += '<td>';
                    } else {
                        for (var i = 0; i < 6; i++) calendar += '<td>';
                    }
                    for (var i = 1; i <= Dlast; i++) {
                        if (i == new Date().getDate() && D.getFullYear() == new Date().getFullYear() && D.getMonth() == new Date().getMonth()) {
                            calendar += '<td class="today">' + i;
                        } else {
                            if (  // список официальных праздников
                                (i == 1 && D.getMonth() == 0 && ((D.getFullYear() > 1897 && D.getFullYear() < 1930) || D.getFullYear() > 1947)) || // Новый год
                                (i == 2 && D.getMonth() == 0 && D.getFullYear() > 1992) || // Новый год
                                ((i == 3 || i == 4 || i == 5 || i == 6 || i == 8) && D.getMonth() == 0 && D.getFullYear() > 2004) || // Новый год
                                (i == 7 && D.getMonth() == 0 && D.getFullYear() > 1990) || // Рождество Христово
                                (i == 23 && D.getMonth() == 1 && D.getFullYear() > 2001) || // День защитника Отечества
                                (i == 8 && D.getMonth() == 2 && D.getFullYear() > 1965) || // Международный женский день
                                (i == 1 && D.getMonth() == 4 && D.getFullYear() > 1917) || // Праздник Весны и Труда
                                (i == 9 && D.getMonth() == 4 && D.getFullYear() > 1964) || // День Победы
                                (i == 12 && D.getMonth() == 5 && D.getFullYear() > 1990) || // День России (декларации о государственном суверенитете Российской Федерации ознаменовала окончательный Распад СССР)
                                (i == 7 && D.getMonth() == 10 && (D.getFullYear() > 1926 && D.getFullYear() < 2005)) || // Октябрьская революция 1917 года
                                (i == 8 && D.getMonth() == 10 && (D.getFullYear() > 1926 && D.getFullYear() < 1992)) || // Октябрьская революция 1917 года
                                (i == 4 && D.getMonth() == 10 && D.getFullYear() > 2004) // День народного единства, который заменил Октябрьскую революцию 1917 года
                               ) {
                                calendar += '<td class="holiday">' + i;
                            } else {
                                calendar += '<td>' + i;
                            }
                        }
                        if (new Date(D.getFullYear(), D.getMonth(), i).getDay() == 0) {
                            calendar += '<tr>';
                        }
                    }
                    for (var i = DNlast; i < 7; i++) calendar += '<td>&nbsp;';
                    document.querySelector('#' + id + ' tbody').innerHTML = calendar;
                    g.value = D.getFullYear();
                    m.selected = true;
                    if (document.querySelectorAll('#' + id + ' tbody tr').length < 6) {
                        document.querySelector('#' + id + ' tbody').innerHTML += '<tr><td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;<td>&nbsp;';
                    }
                    document.querySelector('#' + id + ' option[value="' + new Date().getMonth() + '"]').style.color = 'rgb(220, 0, 0)'; // в выпадающем списке выделен текущий месяц
                }
                Calendar3("calendar3", new Date().getFullYear(), new Date().getMonth());
                document.querySelector('#calendar3').onchange = function Kalendar3() {
                    Calendar3("calendar3", document.querySelector('#calendar3 input').value, parseFloat(document.querySelector('#calendar3 select').options[document.querySelector('#calendar3 select').selectedIndex].value));
                }
            </script>




        </div>
    </div>
    <script src="~/Scripts/stickynotes.js"></script>



