@using EGH01DB.Objects;
@using EGH01DB.Primitives;
@using EGH01.Core;
@using EGH01.Models.EGHCEQ;
@using EGH01;
@model EGH01DB.CEQContext

@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";

    CEQViewContext context = Model.GetViewContext( CEQViewContext.VIEWNAME) as CEQViewContext;
    if (context != null)
    {
        context.RegimEvalution = (context.ecoevalution != null ? CEQViewContext.REGIM_EVALUTION.REPORT : CEQViewContext.REGIM_EVALUTION.INIT); 
    
    }
    else {Model.SaveViewContext(CEQViewContext.VIEWNAME, context = new CEQViewContext()); };
    
}

 @switch (context.RegimEvalution)
 {
     case CEQViewContext.REGIM_EVALUTION.INIT:   
                        @*@Html.Partial("_ConfirmChoiceForecastResult", @Model)*@
                        break;

     case CEQViewContext.REGIM_EVALUTION.REPORT:     
                        @Html.Partial("_ConfirmChoiceForecastResult", @Model)
                        @Html.Partial("_Report", @Model)
                        break;     
     case CEQViewContext.REGIM_EVALUTION.CHOICE:  
                        @Html.Partial("_ConfirmChoiceForecastResult", @Model)
                        break;
                        
     default: break;
 
 }  





<style>
    /*Стиль для кнопки вверх */
    .btnn-top button {
        bottom: 100px;
        right: 40px;
        position: fixed !important;
        float: right !important;
        width: 120px;
        height: 44px;
    }
    /*Стиль для кнопки вниз */
    .btnn-bot button {
        bottom: 50px;
        right: 40px;
        position: fixed !important;
        float: right !important;
        width: 120px;
        height: 44px;
    }
</style>
<span class="btnn-top">
    <button id="toTop">Вверх</button>
</span>
<span class="btnn-bot">
    <button id="toBot">Вниз</button>
</span>