@using EGH01DB.Types;
@using EGH01.Core;
@model List<IncidentType>
@{
    Menu menu = new Menu(
    new Menu.MenuItem("Удалить", "IncidentType.Delete", true),
    new Menu.MenuItem("Изменить", "IncidentType.Update", true)
    );

}

<table style="width:100%" id="main">

    <thead>
        <tr>
            <th> &nbsp; </th>
        </tr>
    </thead>

    <tbody>

        @foreach (IncidentType t in @Model)
        {

            <tr>
                <td>

                    @using (Html.BeginForm("IncidentType", "EGHRGE"))
                    {

                        <div class="box">
                            <div class="boxdata">

                                <p><label class="boxdata-label-30">Код типа инцидента</label> @t.type_code.ToString() </p>
                                <p><label class="boxdata-label-30">Наименование типа инцидента</label> @t.name </p>
                                <input type="hidden" value="@t.type_code.ToString()" name="type_code">

                            </div>
                            @Html.Partial("_TypeLineMenu", menu)
                        </div>

                    }
                </td>
            </tr>

        }
    </tbody>
</table>
<script>
$(document).ready(function() {
    $('#main').DataTable({
        "language": datatables_lang,
        "pageLength": 5

    } );
} );
</script>
