@using EGH01DB.Types;
@using EGH01.Core;
@model List<RiskObjectType>
@{
    Menu menu = new Menu(
    new Menu.MenuItem("Удалить", "RiskObjectType.Delete", true),
    new Menu.MenuItem("Изменить", "RiskObjectType.Update", true)
    );

}
<table style="width:100%" id="main">

    <thead>
        <tr>
            <th> &nbsp; </th>
        </tr>
    </thead>

    <tbody>
        @foreach (RiskObjectType t in @Model)
        {
            <tr>
                <td>

                    @using (Html.BeginForm("RiskObjectType", "EGHRGE"))
                {
                        <div class="box">
                            <div class="boxdata">

                                <p><label class="boxdata-label-30">Код типа техногенного объекта</label> @t.type_code.ToString()</p>
                                <p><label class="boxdata-label-30">Наименование типа техногенного объекта</label> @t.name </p>

                                <input type="hidden" value="@t.type_code.ToString()" name="type_code">
                            </div>
                            @Html.Partial("_TypeLineMenu", menu)
                        </div>

                    }

                </td>
            </tr>

        }
    </tbody>
</table>
<script>
$(document).ready(function() {
    $('#main').DataTable({
        "language":
datatables_lang, "pageLength":3

    } );
} );
</script>


