@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/EGHLayout.cshtml";
}



<div class="box main">
    <div class="boxdata">
        <div class="row"><div class="col-xs-3"><h2>Прогнозирование</h2></div>
        <div class="col-xs-9">&ndash; прогнозирование последствий загрязнения нефтепродуктами  земельных участков в результате инцидента, связанного с разливом нефти или нефтепродуктов.</div></div>


        <div class="box main">
            <div class="boxdata">
                <div class="row">
                    <div class="col-xs-3"><h3>Прогноз</h3></div>
                    <div class="col-xs-9">&ndash; форма для ввода исходных параметров инцидента для  прогнозирования последствий загрязнения нефтепродуктами  геологической среды в результате инцидента, связанного с разливом нефтепродуктов.</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><h3>Опорные точки</h3></div>
                    <div class="col-xs-9">&ndash; форма для ввода данных о географических точках с известными геологическими и гидрологическими характеристиками.</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><h3>Природоохранные объекты </h3></div>
                    <div class="col-xs-9">&ndash; форма для ввода данных о природоохранных объектах.</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><h3>Отчеты </h3></div>
                    <div class="col-xs-9">&ndash; просмотр отчетов, сформированных модулем <strong>Прогноз</strong>.</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><h3>Справочники</h3></div>
                    <div class="col-xs-9">&ndash; просмотр, корректировка девяти  электронных справочников: типы инцидентов, типы природоохранных объектов, типы грунтов, категории земли, свойства воды, опорные точки, природоохранные  объекты, коэффициент растекания, тип техногенного объекта.</div>
                </div>

            </div>
        </div>
    </div>
</div>
