@model  EGH01DB.ORTContext
@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
}


@if (Model != null)
{
    @Html.Partial("_ConfirmChoiceClassificationResult", Model)
}
<div class="box main">
    <div class="boxdata">
        <div class="row">
            <div class="col-xs-4"><h3>Выбор технологий реабилитации </h3></div>
            <div class="col-xs-8">&ndash; выбор технологий и технических средств реабилитации геологической среды на основе результатов классификации ее прогнозируемого состояния.</div>
        </div>
        <div class="box main">
            <div class="boxdata">
                <div class="row">
                    <div class="col-xs-4"><h3>Результаты классификации прогнозируемого состояния  </h3></div>
                    <div class="col-xs-8">&ndash; форма выбора результата классификации состояния загрязненной нефтепродуктами геологической среды полученного в модуле <strong>Классификация прогнозируемого состояния</strong>.</div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><h3>Выбор технологий реабилитации </h3></div>
                    <div class="col-xs-8">&ndash; формирование отчета, содержащего перечень технологий реабилитации загрязненной нефтепродуктами геологической среды.</div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><h3>Отчеты </h3></div>
                    <div class="col-xs-8">&ndash; просмотр отчетов, сформированных модулем <strong>Выбор технологий реабилитации</strong>.</div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><h3>Критерии выбора технологий </h3></div>
                    <div class="col-xs-8">&ndash; электронные справочники: <strong>Категории проникновения нефтепродукта, Категории водоохранных территорий, Классификатор методов реабилитации, Методы ликвидации загрязнения почвогрунтов, Методы ликвидации загрязнения грунтовых вод, Классификация аварий</strong>.</div>
                </div>

            </div>
        </div>
    </div>
</div>
