
@model EGH01DB.GEAContext
@{
     Layout = "~/Views/Shared/EGHLayout.cshtml";
}

@if (Model != null)
{
    @Html.Partial("_ConfirmChoiceEvalutionResult", Model)
    @Html.Partial("_GEAReport", Model)
}



<style>
    /*Стиль для кнопки вверх */
    .btnn-top button {
        bottom: 100px;
        right: 40px;
        position: fixed !important;
        float: right !important;
        width: 120px;
        height: 44px;
    }
    /*Стиль для кнопки вниз */
    .btnn-bot button {
        bottom: 50px;
        right: 40px;
        position: fixed !important;
        float: right !important;
        width: 120px;
        height: 44px;
    }
</style>
<span class="btnn-top">
    <button id="toTop">Вверх</button>
</span>
<span class="btnn-bot">
    <button id="toBot">Вниз</button>
</span>
