@model EGH01DB.GEAContext
@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
}

@if (Model != null)
{
    @Html.Partial("_ConfirmChoiceEvalutionResult", Model)
}

<div class="box main">
    <div class="boxdata">
        <div class="row">
            <div class="col-xs-4"><h3>Классификация прогнозируемого состояния  </h3></div>
            <div class="col-xs-8">&ndash; классификация состояния геологической среды на основе оценки результатов прогнозирования.</div>
        </div>
        <div class="box main">
            <div class="boxdata">
                <div class="row">
                    <div class="col-xs-4"><h3>Результаты оценки прогнозируемого состояния </h3></div>
                    <div class="col-xs-8">&ndash; форма выбора результата оценки прогнозирования, полученного в модуле <strong>Оценка прогнозируемого состояния</strong>.</div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><h3>Классификация прогнозируемого состояния </h3></div>
                    <div class="col-xs-8">&ndash; формирование отчета о классификации состояния загрязненной нефтепродуктами геологической среды.</div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><h3>Критерии классификации </h3></div>
                    <div class="col-xs-8">&ndash; электронный справочник, определяющий классы состояния геологической среды.</div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><h3>Отчеты </h3></div>
                    <div class="col-xs-8">&ndash; просмотр отчетов, сформированных модулем <strong>Классификация прогнозируемого состояния</strong>.</div>
                </div>

            </div>
        </div>
    </div>
</div>
